<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">Liste des formateurs</h4>
                    <p class="category"></p>
                <table class="table table-hover">


  <tr>
    <th>numero</th>
    <th>prenom</th>
    <th>nom</th>
    <th>rue</th>
    <th>code postal</th>
    <th>ville</th>
  </tr>
<!--   <tr *ngFor="let formateur of formateurs"> -->
<!--     <td>{{formateur.numero}}</td> -->
<!--      <td>{{adherent.prenom}}</td>  -->
<!--      <td>{{adherent.nom}}</td> -->
<!--       <td>{{adherent.adresse.numero}}{{adherent.adresse.rue}}</td> -->
<!--       <td>{{adherent.adresse.codePostal}}</td> -->
<!--       <td>{{adherent.adresse.ville}}</td> -->
<!--       <td><a href="" [routerLink]="['/adherent','edit',adherent.numero]" class ="btn btn-info">editer</a></td>  -->
<!--       <td><button class ="btn btn-danger"(click)="delete(formateur.numero)">supprimer</button></td> -->
<!--   </tr> -->
</table>
<div>
  <a
    href="" [routerLink]="['/formateur','edit']" class ="btn btn-info">new formateur
  </a>

</div>

