<div >
	<fieldset>
	<legend>authentification requise</legend>
	<form>
	<div *ngIf="${ not empty param['error'] }">erreur d'authentification</div>
<!-- 		<input type="hidden" [(ngModel)]="user.id" name="id"> -->
		
			<div class="form-group">
				<label for="username">username:</label>
				<input id="username" Class="form-control" [(ngModel)]="user.username" name="username">
			</div>
			<div class="form-group">
				<label for="password">password:</label>
				<input id="password" Class="form-control" [(ngModel)]="user.password" name="password">
			</div>
			<div class="form-group">
				<input (click)=submit() type="submit" value="enregistrer" class="btn btn-success"/>
			</div>
		
		</form>
	</fieldset>
</div>