
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-3 col-sm-6">
			<div class="card">
				<div class="content">
					<div class="row">
						<div class="col-xs-5">
							<div class="icon-big icon-warning text-center">
								<i class="ti-desktop"></i>
							</div>
						</div>
						<div class="col-xs-7">
							<div class="numbers">
								<p>Ordinateur</p>
								150 disponibles
							</div>
						</div>
					</div>
					<div class="footer">
						<hr />
						<div class="stats">
							<i class="ti-reload"></i> Mettre a jour
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-sm-6">
			<div class="card">
				<div class="content">
					<div class="row">
						<div class="col-xs-5">
							<div class="icon-big icon-success text-center">
								<i class="ti-video-camera"></i>
							</div>
						</div>
						<div class="col-xs-7">
							<div class="numbers">
								<p>Video-projecteur</p>
								10 disponibles
							</div>
						</div>
					</div>
					<div class="footer">
						<hr />
						<div class="stats">
							<i class="ti-reload"></i> Mettre à jour
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-3 col-sm-6">
			<div class="card">
				<div class="content">
					<div class="row">
						<div class="col-xs-5">
							<div class="icon-big icon-info text-center">
								<i class="ti-server"></i>
							</div>
						</div>
						<div class="col-xs-7">
							<div class="numbers">
								<p>Serveurs</p>
								10 disponibles
							</div>
						</div>
					</div>
					<div class="footer">
						<hr />
						<div class="stats">
							<i class="ti-reload"></i> Updated now
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="header">
						<h4 class="title">Liste du matariel</h4>
						<p class="category"></p>
						<table class="table table-hover">



							<tr>
								<th>Type</th>
								<th>code</th>
								<th>disponible</th>
								<th>cout</th>

								<th>processeur</th>
								<th>RAM</th>
								<th>DD</th>
								<th>annee d'achat</th>
								<th>stagiaire</th>

								<th>cursus</th>


							</tr>
							<tr *ngFor="let materiel of materiels">
								<td></td>
								<td>{{materiel.code}}</td>
								<td>{{materiel.disponible}}</td>
								<td>{{materiel.cout}}</td>

								<td>{{materiel.processeur}}</td>
								<td>{{materiel.ram}}</td>
								<td>{{materiel.DD}}</td>
								<td>{{materiel.anneeAchat}}</td>
								<td>{{(!!materiel.stagiaire)?materiel.stagiaire.id:''}} - {{(!!materiel.stagiaire)?materiel.stagiaire.nom:''}} {{(!!materiel.stagiaire)?materiel.stagiaire.prenom:''}}</td>

								<td>{{(!!materiel.cursus)?materiel.cursus.id:''}} - {{(!!materiel.cursus)?materiel.cursus.nom:''}}</td>
								<td><a href="" [routerLink]="['/materieledit']"
									class="btn btn-info">editer</a></td>
								<td><button class="btn btn-danger"
										(click)="delete(materiel.code)">supprimer</button></td>
							</tr>
						</table>
						<div>
							<a class="btn btn-info" href="" [routerLink]="['/materieledit']">ajouter
								un materiel</a>
						</div>

					</div>