<div>
	<fieldset>
		<legend> edition de cursus</legend>
		<form>
		<input type="hidden" [(ngModel)]="cursus.id" name="id">
		
			<div class="form-group">
				<label for="nom">nom:</label>
				<input id="nom" Class="form-control" [(ngModel)]="cursus.nom" name="nom">
			</div>
			<div class="form-group">
				<label for="date">dates:</label>
				<input type="date" id="date" Class="form-control" [(ngModel)]="cursus.date" name="date">
			</div>
			<div class="form-group">
				<label for="gestionnaire">gestionnaire:</label>
				<input id="gestionnaire" Class="form-control" [(ngModel)]="cursus.gestionnaire.id" name="gestionnaire">
			</div>
			<div class="form-group">
				<label for="referent">referent:</label>
				<input id="referent" Class="form-control" [(ngModel)]="cursus.referent.id" name="referent">
			</div>
			<div class="form-group">
				<label for="salle">salle:</label>
				<select Class="form-control" name="salle" id="salle" ng-model="cursus">
			      <option value="">---Please select---</option> <!-- not selected / blank option -->
			      <option *ngFor="let salle of salles" value="{{(cursus.salle)?cursus.salle.id:''}}">{{cursus.salle.numero}}</option> <!-- interpolation -->
			      <option value="option-2">Option 2</option>
    			</select>
<!-- 				<input id="salle" Class="form-control" [(ngModel)]="cursus.salle.id" name="salle"> -->
			</div>
			<div class="form-group">
				<input (click)=submit() type="submit" value="enregistrer" class="btn btn-success"/>
				<button (click)="retour()" class="btn btn-info">retour</button>
			</div>
		
		</form>

	</fieldset>

</div>

