<div>
	<fieldset>
		<legend>Creation/edition d'un module</legend>
		<form>
		<input type="hidden" [(ngModel)]="module.id" name="id">
		
			<div class="form-group">
				<label for="date">date:</label>
				<input type="date" name="date" id="date" [(ngModel)]="module.date" cssClass="form-control"/>
			</div>
			<div  class="form-group">
				<label for="matiere">matiere:</label>
				<select  *ngIf="matieres!=null" Class="form-control" name="matiere" id="matiere" [(ngModel)]="module.matiere">
			      <option value="">---Please select---</option> 
			      <option *ngFor="let matiere of matieres" [ngValue]="matiere" >{{matiere.titre}}</option> 
    			</select>
			</div>
			<div  class="form-group">
				<label for="formateur">formateur:</label>
				<select  *ngIf="formateurs!=null" Class="form-control" name="formateur" id="formateur" [(ngModel)]="module.formateur">
			      <option value="">---Please select---</option> 
			      <option *ngFor="let formateur of formateurs" [ngValue]="formateur">{{formateur.prenom}} {{formateur.nom}}</option> 
    			</select>
			</div>
			<div  class="form-group">
				<label for="cursus">cursus:</label>
				<select  *ngIf="cursuss!=null" Class="form-control" name="cursus" id="cursus" [(ngModel)]="module.cursus">
			      <option value="">---Please select---</option> 
			      <option *ngFor="let cursus of cursuss" [ngValue]="cursus" >{{cursus.nom}}</option> 
    			</select>
			</div>
			<div class="form-group">
				<input (click)=submit() type="submit" value="enregistrer" class="btn btn-success"/>
				<button (click)="retour()" class="btn btn-info">retour</button>
			</div>
		
		</form>

	</fieldset>

</div>
