<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">Liste des modules</h4>
                    <p class="category"></p>
                <table class="table table-hover">
                
<table class="table table-hover">
  <tr>
  	<th>id</th>
    <th>dates</th>
    <th>matiere</th>
    <th>formateur</th>
    <th>cursus</th>
  </tr>
   <tr *ngFor="let module of modules">
    <td>{{module.id}}</td>
    <td>{{module.dates}}</td>
    <td>{{(module.matiere)?module.matiere.titre:''}}</td>
    <td>{{(module.formateur)?module.formateur.nom:''}} {{(module.formateur)?module.formateur.prenom:''}}</td>
    <td>{{(module.cursus)?module.cursus.nom:''}}</td>
    <td><a class="btn btn-info" href="" [routerLink]="['/moduleedit',module.id]">editer</a></td>
    <td><button class="btn btn-danger" (click)="delete(module.id)">supprimer</button></td>
  </tr>
</table>
<div>
	<a class="btn btn-info" href="" [routerLink]="['/moduleedit']">creer un module</a>
</div>