<table class="table table-hover">
  <tr>
  	<th>nom</th>
    <th>date</th>
    <th>gestionnaire</th>
    <th>referent</th>
    <th>module</th>
    <th>projecteur</th>
    <th>salle</th>
    <th>stagiaire</th>
  </tr>
  <tr *ngFor="let cursus of cursuss">
    <td>{{cursus.nom}}</td>
    <td>{{cursus.date}}</td>
    <td>{{cursus.gestionnaire.nom}}</td>
    <td>{{cursus.module.matiere}}</td>
    <td>{{cursus.projecteur.code}}</td>
    <td>{{cursus.salle.numero}}</td>
    <td>{{cursus.stagiaire.prenom}} {{cursus.stagiaire.nom}}</td>
    <td><a class="btn btn-info" href="" [routerLink]="['/cursus','cursusedit',cursus.id]">editer</a></td>
    <td><button class="btn btn-danger" (click)="delete(cursus.id)">supprimer</button></td>
  </tr>
</table>
<div>
	<a class="btn btn-info" href="" [routerLink]="['/salle','editsalle','']">creer un adherent</a>
</div>