<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">Liste des matieres</h4>
                    <p class="category"></p>
                <table class="table table-hover">

  <tr>
  	<th>id</th>
  	<th>nom</th>
    <th>date</th>
    <th>gestionnaire</th>
    <th>referent</th>
    <th>salle</th>
  </tr>
  <tr *ngFor="let cursus of cursuss">
 	 <td>{{cursus.id}}</td>
    <td>{{cursus.nom}}</td>
    <td>{{cursus.date}}</td>
    <td>{{(!!cursus.gestionnaire)?cursus.gestionnaire.prenom:''}} {{(!!cursus.gestionnaire)?cursus.gestionnaire.nom:''}}</td>
    <td>{{(!!cursus.referent)?cursus.referent.prenom:''}} {{(!!cursus.referent)?cursus.referent.nom:''}}</td>
    <td>{{(!!cursus.salle)?cursus.salle.numero:''}}</td>
    <td><a class="btn btn-info" href="" [routerLink]="['/cursusedit',cursus.id]">editer</a></td>
    <td><button class="btn btn-danger" (click)="delete(cursus.id)">supprimer</button></td>
  </tr>
</table>
<div>
	<a class="btn btn-info" href="" [routerLink]="['/cursusedit']">creer un cursus</a>
</div>